@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
color: #555;
margin: 0;

font-family: 'Montserrat', sans-serif;
}

#header {
background-color: #1abc9c;
height: 150px;
line-height: 150px;
}

#header a {
color: white;
text-decoration; none;

text-transform: uppercase;
letter-spacing: .1em;
}

#header a:hover {
color: #222;
}

#header-title {
display: block;
float: left;

font-size: 20px;
font-weight: bold;
}

#header-nav {
display: block;
float: right;
margin-top: 0;
}

#header-nav li {
display: inline;
padding-left: 20px;
}

.container {
max-width: 1000px;
margin: 0 auto;
}

#footer {
background-color: #2f2f2f;
padding: 50px 0;
}

.column {
min-width: 300px;
display: inline-block;
vertical-align: top;
}

.column-1 {
min-width: 300px;
display: inline-block;
vertical-align: top;
padding: 20px;
}

#footer h4 {
color: white;
text-transform: uppercase;
letter-spacing: 0.1em;
}

#footer p {
color: white;
}

a {
color: #1abc9c;
text-decoration: none;
}

a:hover {
color: #F6A623;
}

.post {
max-width: 800px;
margin: 0 auto;
padding: 60px 0;
}

.post-author img{
width: 50px;
height: 50px;
vertical-align: middle;
border-radius: 50%;
}

.post-author span {
margin-left: 16px;
}

.post-date {
color: #d2e2e2;

font-size: 14px;
font-weight: bold;

text-transform: uppercase;
letter-spacing: .1em;
}

h1, h2, h3, h4 {
color: #333;
}

p {
line-height: 1.5;
}

.post, .about {
max-width: 800px;
margin: 0 auto;
padding: 60px 0;
}

.about-author img {
display: block;
width: 200px;
height: 166px;
border-radius: 15%;
margin-left: auto;
margin-right: auto;
}

.about {
text-align: center;
}

.post-content: nth-child(even) {
background-color: #f2f2f2;
}

#header-title {
padding: 15px;
}

.shrek img {
border-radius: 25%
}


